<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav" *ngIf="!currentUser">
    <a class="nav-item nav-link" (click)="logout()">Вход</a>
  </div>
  <div class="navbar-nav" *ngIf="currentUser && currentUser.type">
    <a class="nav-item nav-link" routerLink="/event-list">Мероприятия</a>
    <a class="nav-item nav-link" routerLink="/">Чат</a>
    <a class="nav-item nav-link" routerLink="/profile">Профиль</a>
    <a class="nav-item nav-link" (click)="logout()">Выйти</a>
  </div>
  <div class="navbar-nav" *ngIf="currentUser && !currentUser.type">
    <a class="nav-item nav-link" routerLink="/event-list">Мероприятия</a>
    <a class="nav-item nav-link" routerLink="/">Создать мероприятие</a>
    <a class="nav-item nav-link" routerLink="/profile">Профиль</a>
    <a class="nav-item nav-link" (click)="logout()">Выйти</a>
  </div>
</nav>
