.main {
  width: 1200px;
  overflow: hidden;
}

.chat {
  border: #757575 1px solid;
  height: 700px;
  background: white;
  position: relative;
}

.chatName {
  background: #bbbbbb;
  border: #757575 1px solid;
  padding: 10px;
}

textarea {
  width: 96%;
  margin: 5px;
}

mat-icon {
  position: absolute;
  bottom: 25px;
}

.messages-block {
  display: block;
  overflow-y: scroll;
  height: 620px;
}

.toBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.message {
  padding: 5px;
  background: white;
}

.message div {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}

.msg-content {
  width: 70%;
  word-wrap: break-word;
}

.msg-sender {
  width: 20%;
}

.msg-time {
  width: 10%;
}

.msg-time p {
  font-size: 10pt;
}
