.main {
  width: 1200px;
  overflow: hidden;
  border-radius: 5px;
  border: #757575 1px solid;
}

.chat {
  height: 700px;
  background: white;
  position: relative;
}

.chatName {
  background: #363636;
  color: white;
  border: #757575 1px solid;
  padding: 10px;
}

textarea {
  width: 96%;
  margin: 5px;
}

mat-icon {
  position: absolute;
  bottom: 25px;
}

.messages-block {
  display: block;
  overflow-y: scroll;
  height: 620px;
}

.toBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.message {
  padding: 5px 5px 5px 10px;
  background: white;
}

.message div {
  display: inline-block;
  vertical-align: top;
  font-size: medium;
}

.msg-content {
  width: 87%;
}

.msg-sender {
  width: 5%;
}

.msg-time {
  width: 8%;
}

.msg-time p {
  font-size: 10pt;
}

.msg-content-area {
  background: #dcdcdc;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
  margin-right: 10px;
}
