<div class="container">
  <div class="box">
    <div>
      <p><img [src]="imgUrl"/></p>
      <p *ngIf="!isCurrentUserProfile && currentUser.type">
        <button class="write-button" mat-raised-button (click)="writeMessage()">Написать</button>
      </p>
      <p *ngIf="!edit && isCurrentUserProfile">
        <button class="edit-button" mat-raised-button (click)="editMode()">Редактировать</button>
      </p>
      <p *ngIf="edit">
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button class="upload-button" mat-stroked-button (click)="fileInput.click()">Загрузить фотографию</button>
      </p>
    </div>
    <div class="info-block" *ngIf="!edit">
      <H2>{{attendee.surname}} {{attendee.name}}</H2>
      <div class="info-header">
        <h4>Информация</h4>
      </div>
      <div class="info-row">
        <div>Email: </div>
        <div>{{attendee.email}}</div>
      </div>
      <div class="info-row">
        <div>О себе: </div>
        <div><textarea id="att-description" readonly rows="10">{{attendee.skills}}</textarea></div>
      </div>
    </div>
    <div>
      <form [formGroup]="attForm" *ngIf="edit" class="info-block">
        <H2>{{attendee.surname}} {{attendee.name}}</H2>
        <div class="info-header">
          <h4>Информация</h4>
        </div>
        <div class="info-row">
          <div>Email:</div>
          <mat-form-field>
            <input matInput formControlName="email" required email="true">
          </mat-form-field>
        </div>
        <div class="info-row">
          <div>О себе:</div>
          <mat-form-field>
            <input matInput formControlName="skills">
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <p *ngIf="edit">
    <button class="cancel-button" mat-raised-button (click)="cancel()">Отменить</button>
    <button class="save-button" mat-raised-button (click)="submit()">Сохранить</button>
  </p>
</div>


