<div>
  <input
    style="display: none"
    type="file" (change)="onFileChanged($event)"
    #fileInput>
  <button mat-stroked-button (click)="fileInput.click()">Загрузить фотографию</button>
  {{imgMessage}}
  <form [formGroup]="eventForm">
    <p>
      <mat-form-field>
        <input matInput placeholder="Наименование мероприятия" formControlName="name" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Тип мероприятия</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput formControlName="date" [min]="today" [matDatepicker]="picker" placeholder="Дата проведения">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Город" formControlName="city" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Приз" formControlName="prize" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput placeholder="Описание" formControlName="info" maxlength="256" #info>
        <mat-hint align="end">{{info.value.length}} / 256</mat-hint>
      </mat-form-field>
    </p>
    <div>
      <button mat-raised-button (click)="onClick()">Создать</button>
    </div>
  </form>
</div>
