<div class="container">
  <div class="box">
    <div>
      <p><img [src]="imgUrl"/></p>
      <p *ngIf="!edit">
        <button mat-raised-button (click)="editMode()">Редактировать</button>
      </p>
      <p *ngIf="edit">
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button mat-stroked-button (click)="fileInput.click()">Загрузить фотографию</button>
      </p>
    </div>
    <div class="info-block" *ngIf="!edit">
      <H2>{{organization.name}}</H2>
      <div class="info-header">
        <h4>Информация</h4>
      </div>
      <div class="info-row">
        <div>Телефон:</div>
        <div>{{organization.phone}}</div>
      </div>
      <div class="info-row">
        <div>Email: </div>
        <div>{{organization.email}}</div>
      </div>
      <div class="info-row">
        <div>Описание: </div>
        <div><textarea id="org-description" readonly rows="10">{{organization.info}}</textarea></div>
      </div>
    </div>
    <div>
      <form [formGroup]="orgForm" *ngIf="edit" class="info-block">
        <H2>{{organization.name}}</H2>
        <div class="info-header">
          <h4>Информация</h4>
        </div>
        <div class="info-row">
          <div>Телефон:</div>
          <mat-form-field>
            <input matInput formControlName="phone" required>
          </mat-form-field>
        </div>
        <div class="info-row">
          <div>Email:</div>
          <mat-form-field>
            <input matInput formControlName="email" required email="true">
          </mat-form-field>
        </div>
        <div class="info-row">
          <div>Описание:</div>
          <mat-form-field>
            <input matInput formControlName="info">
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
  <p *ngIf="edit">
    <button mat-raised-button (click)="cancel()">Отменить</button>
    <button mat-raised-button (click)="submit()">Сохранить</button>
  </p>
</div>


