<div class="main">
  <p><button mat-raised-button color="primary" (click)="createChat()">Новый чат</button></p>
  <div>
    <div class="chat" *ngFor="let mes of chatMessagesValues" [routerLink]="['/chat', mes.chatId.chatId]">
      <h4><a [routerLink]="['/chat', mes.chatId.chatId]">{{mes.chatId.name}}</a></h4>
      <div class="msg-sender">
        {{mes.sender}}:
      </div>
      <div class="msg-content">
        {{mes.content.length > 80 ? mes.content.substr(0, 80).concat('...') : mes.content}}
      </div>
      <div class="msg-time">
        <p *ngIf="mes.messageDate < today">
          {{mes.messageDate | date:'dd.MM.yyyy'}}
        </p>
        <p *ngIf="mes.messageDate >= today">
          {{mes.messageDate | date:'HH:mm:ss'}}
        </p>
      </div>
    </div>
  </div>
</div>
