<div class="container">
  <div class="box">
    <div>
      <p><img [src]="imgUrl" alt=""></p>
      <div class="user-status" *ngIf="currentUser && currentUser.type">
        <div *ngIf="!edit">
          <p>Иду: {{userStatus.isGoing ? 'да' : 'нет'}}</p>
          <p>Ищу команду: {{userStatus.isLookingForTeam ? 'да' : 'нет'}}</p>
          <a (click)="edit = true">Редактировать</a>
        </div>
        <div *ngIf="edit" class="edit-status-form">
          <mat-slide-toggle [(ngModel)]="userStatus.isGoing" (click)="dropStatus()" color="primary">Пойду</mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="userStatus.isLookingForTeam" [disabled]="!userStatus.isGoing" color="primary">Ищу команду</mat-slide-toggle>
          <button mat-raised-button (click)="saveStatus()">Сохранить</button>
        </div>
      </div>
      <p>
        <button mat-raised-button (click)="openParticipantList()">Участники</button>
      </p>
    </div>
    <div class="info-block">
      <H2>{{itEvent.name}}, {{itEvent.eventType.toLowerCase()}}</H2>
      <div class="info-header">
        <h4>Информация</h4>
      </div>
      <div class="info-row">
        <div>Дата проведения:</div>
        <div>{{itEvent.startDate.toLocaleDateString()}}</div>
      </div>
      <div class="info-row">
        <div>Город проведения: </div>
        <div>{{itEvent.city}}</div>
      </div>
      <div class="info-row">
        <div>Призовой фонд: </div>
        <div>{{itEvent.prize}}</div>
      </div>
      <div class="info-row">
        <div>Описание: </div>
        <div><textarea id="event-description" readonly rows="10">{{itEvent.info}}</textarea></div>
      </div>
    </div>
  </div>
</div>
