.container {
  overflow: hidden;
  width: 1000px;
}

.box {
  white-space: nowrap;
  width: 100%;
}

.box div {
  width: 500px;
  display: inline-block;
  vertical-align: top;
}

.user-status * {
  display: block;
}

.info-block {
  flex-wrap: wrap;
}

.info-block div {
  display: block;
}

.info-row div {
  vertical-align: top;
  display: inline-block;
}

.info-row div:first-child {
  width: 200px;
}

.info-row div:last-child {
  width: 300px;
}

#event-description {
  border: none;
  background: rgba(0, 0, 0, 0);
  outline: 0;
  cursor: text;
}

img {
  height: 300px;
  width: 300px;
}

.participants {
  width: 250px;
}

.participant-row {
  font-size: 14pt;
  border-bottom: #848484 1px solid;
  width: 95%
}

.participant-row div {
  display: inline-block;
}

.fullname {
  width: 90%
}

.fullname a {
  color: black;
}

.team-icon {
  width: 10%;
}


